{% extends "base.html" %} {% block header %}
<nav class="navbar flex w-full justify-between z-40">
    <a class="m-5 navlink" href="{{ url_for('stats.hello') }}">
        <span class="hidden sm:block">Home</span>
        <span class="block sm:hidden">Home</span>
    </a>

    <div class="flex">
        <a class="my-5 mr-5 ml-0 navlink" href="{{ url_for('stats.hello') }}">Account</a>
        <a class="my-5 mr-5 ml-0 navlink !bg-red-400/20 hover:!bg-red-500/50 !text-red-400 hover:!text-red-300" href="{{ url_for('stats.hello') }}">Logout</a>
    </div>

    <div class="flex">
        <a class="my-5 mr-5 ml-0 navlink" href="{{ url_for('stats.hello') }}">Login</a>
        <a class="my-5 mr-5 ml-0 navlink" href="{{ url_for('stats.hello') }}">Register</a>
    </div>

</nav>
{% block content %}{% endblock %}{% endblock %}